body {
	font-size: 14px;
	font-family: 'Segoe UI', sans-serif;
}

.shell {
	max-width: 1170px;
	margin: 0 auto;
}

h1,
h2,
h3 {
	color: #fff;
	text-transform: uppercase;
}

h3 {
	font-weight: 600;
}

h1,
header > .carousel > .shell > span {
	font-size: 3em;
	line-height: 40px;
	font-weight: lighter;
	background-color: rgba(81, 95, 103, 0.5);
	padding: 11px;
	display: block;
	text-transform: uppercase;
	margin: 0 auto 10px auto;
	box-sizing: border-box;
	text-align: center;

}

h1 {
	max-width: 720px;
	margin-top: 250px;
}

h3 {
	padding-bottom: 20px;
}

p {
	padding-bottom: 25px;
	color: #fff;
	line-height: 24px;
	font-weight: 500;
}

header > .carousel {
	padding-bottom: 215px;
}

header > .carousel > .shell > span {
	color: #fff;
	font-family: 'Segoe UI', sans-serif;
	max-width: 985px;
	margin-bottom: 50px;
}


/*set up different h2 in different sections*/
h2 {
	font-size: 2.15em;
	line-height: 24px;
	font-weight: lighter;
	position: relative;
	margin-bottom: 35px;
	padding-top: 80px;
}

.transperant-section h2 {
	color: #515f67;
}


.transperant-section h2:after,
h2:after {
	content: '';
	display: block;
	width: 45px;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: -10px;
}

h2:after {
	background-color: #fff;
}

.transperant-section h2:after {
	background-color: #515f67;
}